@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-primary-50: oklch(0.98 0.04 29);
  --color-primary-100: oklch(0.96 0.07 29);
  --color-primary-200: oklch(0.92 0.13 29);
  --color-primary-300: oklch(0.86 0.19 29);
  --color-primary-400: oklch(0.78 0.23 29);
  --color-primary-500: oklch(0.72 0.25 29);
  --color-primary-600: oklch(0.62 0.22 29);
  --color-primary-700: oklch(0.52 0.18 29);
  --color-primary-800: oklch(0.42 0.14 29);
  --color-primary-900: oklch(0.32 0.10 29);
  --color-primary-950: oklch(0.22 0.07 29);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
